## Samsung msm7x27 series recovery initialization

on init
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/f_rndis/manufacturer Samsung
    write /sys/class/android_usb/android0/f_rndis/vendorID 04e8
    write /sys/class/android_usb/android0/f_rndis/wceis 1

    # fsr drivers
    insmod /lib/modules/fsr.ko
    insmod /lib/modules/fsr_stl.ko
    insmod /lib/modules/sec_param.ko

    # rfs drivers (optional)
    insmod /lib/modules/rfs_glue.ko
    insmod /lib/modules/rfs_fat.ko

on boot
    write /sys/class/android_usb/android0/iManufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/iProduct ${ro.product.model}
    setprop sys.usb.config mass_storage,adb

on property:sys.storage.ums_enabled=1
    setprop sys.usb.config mass_storage,adb

on property:sys.usb.config=mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04e8
    write /sys/class/android_usb/android0/idProduct 685e
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04e8
    write /sys/class/android_usb/android0/idProduct 6860
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on fs

    # fsr driver is too dumb to set rotational flag correctly
    write /sys/devices/virtual/block/bml7/queue/rotational 0
    write /sys/devices/virtual/block/bml8/queue/rotational 0
    write /sys/devices/virtual/block/bml9/queue/rotational 0
    write /sys/devices/virtual/block/bml10/queue/rotational 0
    write /sys/devices/virtual/block/stl12/queue/rotational 0
    write /sys/devices/virtual/block/stl13/queue/rotational 0
    write /sys/devices/virtual/block/stl14/queue/rotational 0

service fuse_sdcard0 /sbin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard0 /storage/sdcard0
    seclabel u:r:sdcardd:s0
    class late_start
    disabled
